* {
    background-color: ivory;
    text-align: center;
    font-family: fantasy;
}

label {
    font-weight: bold;
}

input {
    border: 15;
}

.info{
    width: 150px;
    height: 23px;
}

#ai{
    width: 150px;
    height: 80px;
}